#idleState {
    position: absolute;
    bottom: 120px;
    width: 100%;
    z-index: 12;
    
    visibility: hidden;
    opacity: 0;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 10px #000000;
    transition: all 150ms ease-in-out;
}

#idleState.visible{
    visibility: visible;
    opacity: 1;
}

#boxInfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 14px;
    bottom: -660px;
    padding: 20px;
    width: 100%;
    height: 660px;
    box-sizing: border-box;
    z-index: 12;

    background: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    transition: all 450ms ease-in-out;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-svg-section svg {
    width: 28px;
    height: 28px;
}

#boxInfo.visible { bottom: -510px; }
#boxInfo.visible.full { bottom: 0; }
#boxInfo h1 { margin: 0; }
#boxInfo p { 
    margin: 0; 
    text-align: justify;
}

#headerBox {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#boxInfo .upper-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#boxInfo .image-caraousel {
    display: flex;
    gap: 14px;
    width: 100%;
    height: 250px;
    overflow-x: scroll;
    scrollbar-width: none;
    border-radius: 8px;
    box-sizing: border-box;
}

#boxInfo .image-caraousel:hover { scrollbar-width: auto; }

#animalSoundBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 0 8px 0;
    width: 170px;

    color: #ffffff;
    background-color: #69ad81;
    font-size: 18px;
    border: none;
    border-radius: 18px;

    transition: all 150ms ease-in-out;
}

#animalSoundBtn svg { fill: #ffffff; }

#animalSoundBtn:hover { background-color: #4d8e64; }
#animalSoundBtn:active { 
    scale: 0.95;
    background-color: #2e7848; 
}