@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body { 
    margin: 0; 
    font-family: 'Nunito';
}

button { font-family: 'Nunito'; }

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    padding: 20px;
    box-sizing: border-box;

    background: url(/assets/header-img.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

header .logo {
    width: 160px;
    height: 50px;
}

header .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    background-color: transparent;
    border: 0;
    border-radius: 8px;

    transition: all 150ms ease-in-out;
}

header .menu {
    position: absolute;
    margin-top: 0;
    width: 90%;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;

    background-color: #019838;
    border-radius: 10px;

    transition: all 150ms ease-in-out;
}

header .menu.show {
    visibility: visible;
    opacity: 1;
    margin-top: 50px;
}

header a {
    text-decoration: none;
}

header .menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;

    color: white;
    background-color: transparent;
    font-size: 18px;
    border: 0;
    border-radius: 8px;

    transition: all 150ms ease-in-out;
}

header .menu-btn:hover, header .menu-btn:active { background-color: #00000079; }

header .menu button:hover, header .menu button:active { 
    background-color: #005b21; 
    font-weight: bold;
}

header .menu-btn svg {
    width: 32px;
    height: 32px;
    fill: #FFFFFF;
}